//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 19 10:50:11 2014
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "sseg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "sseg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "sseg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "sw" LOCATE = SITE "T10" LEVEL 1;
COMP "sseg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "sseg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "sseg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "sseg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "sseg<7>" LOCATE = SITE "M13" LEVEL 1;
SCHEMATIC END;

