//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 05 11:22:50 2014
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "N17" LEVEL 1;
COMP "sw" LOCATE = SITE "T10" LEVEL 1;
COMP "tx" LOCATE = SITE "N18" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

